body{
    background-color: gray;
    margin: 0;
    overflow: hidden;
}

canvas{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0.2, 0.2);
}

