body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
            display: flex;
            background-color: #3f3f3f;
            /* Added to align sidebar and canvas container */
        }


        #sidebar {
            width: 100px;
            height: 100%;
            background-color: #313131;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }

        input[type="range"] {
            /* -webkit-appearance: slider-vertical;  */
            width: 80px; /* Adjust width for better control */
            cursor: pointer;
            margin-bottom: 15px;
        }
        
        label {
            display: block;
            text-align: center;
            margin-bottom: 10px;
            color: #ffffff;
            font-family: 'Arial', sans-serif;
        }
        
        
        #canvas-container {
            flex-grow: 1;
            /* Take up the remaining space */
            display: flex;
            justify-content: center;
            /* Center canvas horizontally */
            align-items: center;
            /* Center canvas vertically */
            background-color: #000000;
            /* Slight background color */
        }

        #canvas {
            border: 1px solid #000000;
        }

        button {
            margin-bottom: 20px;
            padding: 10px;
            width: 80px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39);

            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #f0f0f0;
        }

        button:active {
            background-color: #9e9e9e;
        }

        button img {
            width: 30px;
            /* Set the size of the icons */
            height: auto;
        }

#trainModel{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}